__pycache__/

lightning_logs

.DS_Store

.vscode/
.env
.logs/
logs/
outputs/
wandb/
**.pdf
**.svg
**.npy
**.pkl
**.log
**.ckpt
**.pt
**.ckpt
*.fasta

/checkpoints
/tmp
/tmp_ae
/store
/inference
/ProteinMPNN/ca_model_weights/*.pt
/ProteinMPNN/vanilla_model_weights/*.pt